<html>
  <head>
    <meta charset="UTF-8" />
    <title>HungryHub | Hungry? Order Now.</title>
    <link rel="icon" href="/img/HungryHub-Logo.PNG" type="image/x-icon" />
    <link rel="stylesheet" href="/css/overview-style.css" />
    <link rel="stylesheet" href="/css/home-style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Montserrat:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="/js/profile-hover.js" defer></script>
    <script src="/js/loaction-modal.js" defer></script>
    <script src="/js/slider.js" defer></script>
    <script src="/js/restaurants-render.js" defer></script>
    <script src="/js/restaurants-render-itemClick.js" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
    <script src="/js/logout.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div>
        <a href="/"
          ><img src="/img/HungryHub-Logo.PNG" class="header-logo-img"
        /></a>
        <div class="header-loaction-text"><%=data.cityName%></div>
      </div>
      <div>
        <!-- <span class="offers">Offers</span> -->
        <%if(!locals.user){%>
        <a class="signin" href="/login">Sign in</a>
        <a class="help" href="/help">Help</a>
        <%} else{%>
        <span class="username-signin"
          ><%=locals.user.name.split(' ')[0]%>
          <div class="username-signin-container hidden">
            <a class="profile" href="/profile">Profile</a>
            <a class="log-out">Log Out</a>
          </div>
        </span>

        <a class="help" href="/help">Help</a>
        <%}%>
      </div>
    </header>
    <section class="section1">
      <div class="section1-text">
        What's on your mind
        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
      </div>

      <div class="slider-container">
        <div class="section1-item-container slide">
          <img src="/img/burger.PNG" class="Woym-img" />
          <div class="Woym-text">Burger</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/pizza.PNG" class="Woym-img" />
          <div class="Woym-text">Pizza</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/pasta.PNG" class="Woym-img" />
          <div class="Woym-text">Pasta</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/biryani.PNG" class="Woym-img" />
          <div class="Woym-text">Biryani</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/chicken.PNG" class="Woym-img" />
          <div class="Woym-text">Chicken</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/cake.PNG" class="Woym-img" />
          <div class="Woym-text">Cake</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/momos.PNG" class="Woym-img" />
          <div class="Woym-text">Momos</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/sandwich.PNG" class="Woym-img" />
          <div class="Woym-text">Sandwich</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/coffee.PNG" class="Woym-img" />
          <div class="Woym-text">Coffee</div>
        </div>
        <div class="section1-item-container slide">
          <img src="/img/icecream.PNG" class="Woym-img" />
          <div class="Woym-text">Ice Cream</div>
        </div>
      </div>
    </section>

    <%let count=0%> <%shops.forEach((shop,index)=>{%> <%if(shop.ratingsAverage >
    4.3){ count++;}})%> <%if(count!=0){%>
    <section class="section2-top-restaurant">
      <div class="section2-top-restaurant-title-text">
        Top restaurants in your location <%if(count>4){%>
        <button class="slider__btn_rl slider__btn--left_trl">&larr;</button>
        <button class="slider__btn_rl slider__btn--right_trl">&rarr;</button>
        <%}%>
      </div>
      <div class="restaurants-slider-container">
        <% shops.forEach((shop, index) => { %> <%if(shop.ratingsAverage > 4.3)
        {%>
        <div class="top-restaurant-slide restaurant-slide">
          <div class="top-restaurant-template-card restaurant-template-card">
            <div class="shop-image-cover"><%= shop.imageCover %></div>
            <div class="shop-details">
              <div class="shop-name"><%= shop.name %></div>
              <div class="shop-rating-avg_time">
                <img src="/img/ratings-star.PNG" class="ratings-star" /><%=
                shop.ratingsAverage %> || <%= shop.AvgTimeForOrderProcess %>
                mins
              </div>
              <div class="shop-type"><%= shop.typeOfRestaurant %></div>
              <div class="shop-location"><%= shop.location %></div>
            </div>
          </div>
        </div>
        <% } %> <% }) %>
      </div>
    </section>
    <hr />
    <%}%>
    <section class="section3-restaurant-near-you">
      <div class="section3-restaurant-near-you-title-text">
        Restaurants in your location <%if(shops.length>4){%>
        <button class="slider__btn_rl slider__btn--left_ryl">&larr;</button>
        <button class="slider__btn_rl slider__btn--right_ryl">&rarr;</button>
        <%}%>
      </div>
      <div class="restaurants-slider-container">
        <% shops.forEach((shop, index) => { %>
        <div class="restaurant-slide your-location-restaurant-slide">
          <div
            class="restaurant-template-card your-location-restaurant-template-card"
          >
            <div class="shop-image-cover"><%= shop.imageCover %></div>
            <div class="shop-details">
              <div class="shop-name"><%= shop.name %></div>
              <div class="shop-rating-avg_time">
                <img src="/img/ratings-star.PNG" class="ratings-star" /><%=
                shop.ratingsAverage %> || <%= shop.AvgTimeForOrderProcess %>
                mins
              </div>
              <div class="shop-type"><%= shop.typeOfRestaurant %></div>
              <div class="shop-location"><%= shop.location %></div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <section class="logout-overlay logout-hidden">
      <div class="logout-success-container">Logged out Successfully!</div>
      <div class="logout-loader"></div>
    </section>
    <footer class="footer">
      <img src="/img/HungryHub-Logo.PNG" class="footer-logo-img" />
      <div class="footer-logo-text">HungryHub</div>
      <div class="footer-copyright-logo">&copy; by HungryHub</div>
    </footer>
    <div class="loaction-modal-window-container hidden">
      <button class="btn-close-modal">&times;</button>
      <form class="modal-location-form-container">
        <input
          type="text"
          placeholder="Enter the location"
          class="modal-location-input-text"
        />
        <input
          type="submit"
          class="modal-form-location-btn"
          value="Find Food"
        />
      </form>
      <div class="Gps-btn">
        <i class="material-icons my-location-symbol">&#xe55c;</i>Use GPS to find
        Location
      </div>
    </div>
    <div class="overlay hidden"></div>
  </body>
</html>
